@import "vars"

.category__top
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  flex-wrap: wrap
  &_action
    flex: 1 0 200px
    max-width: 600px
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px
    &_filters-mobile
      display: none
      justify-content: flex-start
      align-items: center
      color: $gray-dark
      img
        display: block
        width: 22px
        height: auto
        margin-left: 10px
    &_sort
      display: flex
      justify-content: flex-start
      align-items: center
      label
        width: 100px
        color: $gray-dark
        font-weight: normal
        margin: 0 15px 0 0
      select
        cursor: pointer
        display: block
        height: 32px
        padding: 0 15px 0 0
        color: $accent
        font-size: 18px
        line-height: 1.3
        background-color: transparent
        background-image: none
        border: none
        border-radius: 0
        box-shadow: none
        transition: all ease .3s
        &:hover
          background-color: #fdf3f4
    &_grid
      display: flex
      justify-content: center
      button
        width: 34px
        height: 34px
        background: #f4f4f4
        border: 1px solid transparent
        font-size: 18px
        line-height: 34px
        color: $accent
        padding: 0
        transition: all ease .3s
        &.active
          border-color: $accent
          background: #fff

.category__title
  text-align: center
  font-size: 48px
  font-family: $bold-font
  color: $accent
  text-transform: uppercase
  margin: 10px 0 70px

.category__subcats-thumbs
  margin-bottom: 40px
  ul
    margin: 0
    padding: 0
    width: 100%
    display: flex
    justify-content: flex-start
    flex-wrap: wrap
    li
      display: block
      flex: 0 0 240px
      padding: 10px 20px 10px 0
      a
        display: flex
        justify-content: flex-start
        align-items: center
        font-size: 20px
        color: $gray-dark
        &:hover
          color: $accent
        img
          display: block
          height: 45px
          width: auto
          margin-right: 20px

@media only screen and (max-width: 767px)
  .category__top_action
    flex-basis: 100%
    flex-wrap: wrap
    &_filters-mobile
      display: flex
    &_sort
      order: 2
      flex-basis: 100%
      margin-top: 15px
      flex-wrap: wrap
  .category__title
    display: none
  .category__subcats-thumbs
    margin-bottom: 15px
    ul li
      flex-basis: 50%
      a img
        height: 33px
