@font-face
	font-family: 'Arsenal-Regular'
	font-style: normal
	font-weight: 400
	src: local('Arsenal-Regular'),
	url(../fonts/Arsenal/Arsenal-Regular/Arsenal-Regular.otf),
	url(../fonts/Arsenal/Arsenal-Regular/Arsenal-Regular.woff2) format('woff2'),
	url(../fonts/Arsenal/Arsenal-Regular/Arsenal-Regular.woff) format('woff'),
	url(../fonts/Arsenal/Arsenal-Regular/Arsenal-Regular.ttf) format('truetype')

@font-face
	font-family: 'Arsenal-Bold'
	font-style: normal
	font-weight: 700
	src: local('Arsenal-Bold'),
	url(../fonts/Arsenal/Arsenal-Bold/Arsenal-Bold.otf),
	url(../fonts/Arsenal/Arsenal-Bold/Arsenal-Bold.woff2) format('woff2'),
	url(../fonts/Arsenal/Arsenal-Bold/Arsenal-Bold.woff) format('woff'),
	url(../fonts/Arsenal/Arsenal-Bold/Arsenal-Bold.ttf) format('truetype')

