@import "vars"

footer
  padding-top: 50px
  .footer__contacts
    width: 100%
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
    &_logo
      flex: 0 0 170px
      margin-right: 30px
      img.footer-logo
        display: block
        width: 160px
        height: auto
        margin-bottom: 6px
      a
        text-transform: uppercase
        color: $gray-dark
        &:hover
          color: $accent
      img.insta
        display: inline-block
        vertical-align: top
        width: 23px
        height: auto
    &_wrapper
      flex: 1 0 240px
      max-width: 660px
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      &_phones
        ul
          margin: 0
          padding: 0
          text-align: right
          li
            display: block
            a
              color: $gray-dark
              &:hover
                color: $accent
              img
                display: inline-block
                vertical-align: baseline
                margin: 0 3px
              .fa
                color: $accent
            & + li
              margin-top: 10px
      &_address
        display: flex
        flex-direction: column
        justify-content: space-between
        color: $gray-dark
        text-align: right
        h5
          font-family: $bold-font
          margin: 10px 0 4px
          font-size: 20px
          color: $accent
  .footer__content
    width: 100%
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    &_col
      flex: 1 0 180px
      max-width: 280px
      margin: 0 0 10px
      h5
        margin: 15px 0
        font-size: 20px
        color: $accent
        text-transform: uppercase
  .footer__copyright
    text-align: center
    background-color: #f4f4f4
    color: $accent
    padding: 12px

#button-top
  display: flex
  justify-content: center
  align-items: center
  width: 75px
  height: 75px
  border-radius: 50%
  border: 1px solid $accent
  background-color: #f4f4f4
  overflow: hidden
  position: fixed
  bottom: 15px
  right: 15px
  opacity: 0
  transition: all ease .3s
  &.show-btn
    cursor: pointer
    opacity: .3
    z-index: 10
    &:hover
      opacity: 1

@media only screen and (max-width: 767px)
  footer
    .footer__contacts
      justify-content: space-around
      &_logo
        margin: 0 10px 10px
      &_wrapper
        justify-content: space-around
        &_phones
          margin: 10px
        &_address
          margin: 10px
    .footer__content
      justify-content: space-around
      &_col
        flex: 0 0 170px
        max-width: 170px
        h5
          font-size: 16px
          margin: 12px 0
        a
          font-size: 14px

@media only screen and (max-width: 480px)
  footer
    .footer__contacts_wrapper_phones
      order: 2
      ul
        text-align: center
        display: flex
        justify-content: center
        flex-wrap: wrap
        li
          margin: 5px
          & + li
            margin-top: 5px
          a
            font-size: 14px
    .footer__contacts_wrapper_address
      text-align: center
      font-size: 14px
      h5
        font-size: 16px
