@import "vars"

/* hamburger */
.hamburger .line
  width: 22px
  height: 2px
  background-color: $accent
  display: block
  margin: 4px auto
  transition: all 0.3s ease-in-out

.hamburger:hover
  cursor: pointer

/* SIX */
#hamburger-6[aria-expanded=true]
  transition: all 0.3s ease-in-out
  transition-delay: 0.6s
  transform: rotate(45deg)

#hamburger-6[aria-expanded=true] .line:nth-child(2)
  width: 0

#hamburger-6[aria-expanded=true] .line:nth-child(1),
#hamburger-6[aria-expanded=true] .line:nth-child(3)
  transition-delay: 0.3s


#hamburger-6[aria-expanded=true] .line:nth-child(1)
  transform: translateY(6px)

#hamburger-6[aria-expanded=true] .line:nth-child(3)
  transform: translateY(-6px) rotate(90deg)


.header__content
  width: 100%
  display: flex
  justify-content: space-between
  align-items: center
  padding: 10px 0
  &_logo
    flex: 1 0 100px
    max-width: 160px
    margin-right: 20px
    img
      display: block
      width: 100%
      height: auto
  &_wrapper
    flex: 1 0 100px
    max-width: 800px
    display: flex
    justify-content: flex-end
    align-items: center
    &_search
      flex: 1 0 50px
      max-width: 393px
      margin-right: 15px
      #search
        display: block
        position: relative
        input
          display: block
          width: 100%
          height: 34px
          background: transparent
          border-top: none
          border-right: none
          border-left: none
          border-bottom: 1px solid $accent
          font-size: 14px
          color: $accent
          text-indent: 10px
          &::placeholder
            font-size: 14px
        button
          display: flex
          justify-content: center
          align-items: center
          width: 32px
          height: 32px
          position: absolute
          right: 0
          top: 0
          background: transparent
          border: none
          padding: 0
    &_menu
      flex: 1 0 50px
      max-width: 330px
      #cart
        button
          display: flex
          width: 28px
          height: 28px
          padding: 0
          justify-content: center
          align-items: center
          background: transparent
          box-shadow: none
          border: none
          transition: all ease .3s
          &:hover
            background: $pink-light
          #custom-total
            position: absolute
            bottom: 2px
            right: 6px
            display: flex
            justify-content: center
            align-items: center
            width: 16px
            height: 16px
            border-radius: 50%
            background-color: transparent
            color: $accent
            font-size: 10px
            font-family: $bold-font
      > ul
        width: 100%
        margin: 0
        padding: 0
        display: flex
        justify-content: space-between
        align-items: center
        > li
          display: block
          > a
            display: flex
            justify-content: center
            align-items: center
            color: $main-menu
            padding: 2px
            transition: all ease .3s
            &:hover
              background-color: $pink-light
            > span
              padding-right: 10px
            svg
              display: block

.header__search-mobile
  max-width: 393px
  margin: 10px auto
  #search
    display: block
    position: relative
    input
      display: block
      width: 100%
      height: 34px
      background: transparent
      border-top: none
      border-right: none
      border-left: none
      border-bottom: 1px solid $accent
      font-size: 14px
      color: $accent
      text-indent: 10px
      &::placeholder
        font-size: 14px
    button
      display: flex
      justify-content: center
      align-items: center
      width: 32px
      height: 32px
      position: absolute
      right: 0
      top: 0
      background: transparent
      border: none
      padding: 0

.main-menu
  padding: 21px 0
  background-color: #f4f4f4
  margin-bottom: 20px
  .main-menu__list
    ul
      margin: 0
      padding: 0
      width: 100%
      display: flex
      justify-content: space-evenly
      flex-wrap: wrap
      li
        display: block
        min-width: 58px
        a
          display: block
          font-size: 20px
          text-transform: uppercase
          color: $main-menu
          text-align: center
          &:hover
            color: $accent
          .mobile-img
            width: 44px
            height: 44px
            background-color: #B5426B
            margin: 0 auto 5px
            border-radius: 50%
            position: relative
            display: flex
            justify-content: center
            align-items: center
            img
              display: block

@media only screen and (max-width: 767px)
  .header__content_wrapper_menu
    max-width: 140px
  .main-menu .main-menu__list ul li a
    text-transform: capitalize
    font-size: 12px
    color: $gray-light
