@import "vars"

.features
  padding: 75px 0
  background-color: #FDF3F4
  &__content
    width: 100%
    display: flex
    justify-content: space-evenly
    flex-wrap: wrap
    &_item
      flex: 0 0 426px
      text-align: center
      .img-wrapper
        width: 118px
        height: 100px
        margin: 0 auto
        display: flex
        justify-content: center
        align-items: flex-end
        img
          display: block
          max-width: 100%
          max-height: 100%
      &_text
        h5
          font-family: $bold-font
          font-size: 32px
          text-transform: uppercase
          margin: 10px 0 20px
        p
          line-height: 1

.common-home
  h3
    text-align: center
    font-size: 48px
    font-family: $bold-font
    text-transform: uppercase
    color: $accent
    margin-bottom: .5em

@media only screen and (max-width: 767px)
  .common-home h3
    font-size: 24px
  .features
    padding: 30px 0
    .features__content_item
      flex: 0 0 100%
      display: flex
      justify-content: center
      text-align: left
      & + .features__content_item
        margin-top: 25px
      .img-wrapper
        width: 66px
        height: 60px
        margin: 0 20px 0 0
      &_text
        flex-grow: 1
        max-width: 300px
        h5
          font-size: 24px
          line-height: 1
          margin: 0 0 10px
        p
          font-size: 14px

