@import "vars"

.categories
  h5
    font-size: 20px
    text-transform: uppercase
    color: $main-menu
    margin: 20px 0
  > ul
    padding: 0 0 0 15px
    li
      display: block
      position: relative
      margin: 5px 0
      .toggle-a
        display: block
        position: absolute
        left: -15px
        top: 5px
        &::before
          content: '+'
          display: block
          line-height: 10px
          color: $accent
          font-family: $bold-font
          font-size: 20px
        & ~ ul
          display: none
        &.open
          &::before
            content: '-'
          & ~ ul
            display: block
      .category-name-a
        color: $gray-dark
        transition: all ease .3s
        &:hover, &.active
          color: $accent
        & + ul
          padding: 0 0 0 15px
          li
            display: block
            font-size: 16px
            .sub-category-name-a
              color: $gray-light
              transition: all ease .3s
              &.active, &:hover
                color: $accent
            ul
              padding: 0 0 0 15px
              li
                font-size: 14px
                a
                  color: $gray-light
                  transition: all ease .3s
                  &.active, &:hover
                    color: $accent


