@import "vars"
@import "fonts"

body
  margin: 0
  background-color: #fff
  font-family: $default-font
  font-size: 18px
  line-height: 1.4
  color: $text
  position: relative

.accent_color
  color: $accent

a
  color: $text
  transition: all ease .3s
  text-decoration: none
  &:hover
    color: $accent
    text-decoration: none

a:focus
  text-decoration: none !important

select:focus
  outline: none !important

button, button:focus, input, input:focus
  outline: none !important

.dropdown-menu
  border-radius: 0
  box-shadow: 0 0 8px rgba(141,21,64, .18)
  border: none
  text-align: right
  min-width: 180px
  top: calc(100% + 10px)
  > li > a
    padding: 11px 40px
    font-size: 20px
    color: $gray-dark
    text-transform: uppercase
    &:hover
      background-color: $accent
      color: #f4f4f4

hr
  border-color: $gray-light
  opacity: .5

.owl-carousel
  .owl-wrapper-outer
    border: 1px solid $gray-light
    box-shadow: none
    border-radius: 0

.owl-controls
  .owl-page
    margin: 0 18px
    &.active span
      background: $accent
      opacity: 1
    span
      width: 7px
      height: 7px
      background: $accent
      border-radius: 0
      box-shadow: none
      opacity: .2
      transition: all ease .3s

.product-layout
  .products
    &.grid
      width: 100%
      display: flex
      justify-content: space-evenly
      flex-wrap: wrap
      .product-thumb
        flex: 0 0 300px
        margin: 10px
        border-radius: 6px
        overflow: hidden
        .image
          position: relative
          img
            width: 100%
            object-fit: cover
          .price-discount
            display: flex
            justify-content: center
            align-items: center
            width: 39%
            height: 25px
            background-color: #B5426B
            color: #fff
            font-size: 15px
            position: absolute
            top: 0
            right: 0
          .rating
            position: absolute
            left: 20px
            top: 50px
            .fa-stack
              width: 13px
              height: 13px
              line-height: 13px
              margin-right: 5px
              .fa-stack-2x
                font-size: 13px
                color: $accent
            .rating-value
              font-size: 14px
          button
            position: absolute
            right: 20px
            top: 54px
            padding: 0
            margin: 0
            border: none
            background: transparent
            color: $accent
            font-size: 16px
        .caption
          background: #F8F8F8
          padding: 10px 10px 15px
          display: flex
          flex-direction: column
          justify-content: space-between
          min-height: 120px
          h4
            margin: 0 0 10px
            font-size: 16px
            font-family: $bold-font
            a
              color: $accent
          .rating
            display: none
          .product-description
            display: none
          .action-box
            width: 100%
            display: flex
            justify-content: space-between
            align-items: center
            padding: 0 15px
            button
              border: none
              background: transparent
              color: $gray-dark
              padding: 0
              transition: all ease .3s
              &:hover
                background: #fdf3f4
              img
                margin-left: 8px
            .price
              position: relative
              margin: 0
              font-family: $bold-font
              font-size: 24px
              color: $accent
              .price-new
                position: absolute
                bottom: 75%
                right: 0
                font-family: $default-font
                font-size: 14px
                text-decoration: line-through
                color: $text
    &.list
      .product-thumb
        margin: 10px 0 25px
        border-radius: 6px
        overflow: hidden
        width: 100%
        display: flex
        justify-content: flex-start
        position: relative
        .image
          flex: 0 0 250px
          img
            width: 100%
            object-fit: cover
          .price-discount
            display: flex
            justify-content: center
            align-items: center
            width: 118px
            height: 25px
            background-color: #B5426B
            color: #fff
            font-size: 15px
            position: absolute
            top: 0
            left: 0
          .rating
            display: none
          button
            position: absolute
            right: 34px
            top: 20px
            padding: 0
            margin: 0
            border: none
            background: transparent
            color: $accent
            font-size: 25px
        .caption
          flex: 1 0 100px
          background: #F8F8F8
          padding: 30px 30px 30px 40px
          display: flex
          flex-direction: column
          justify-content: flex-start
          h4
            margin: 0 0 10px
            font-size: 36px
            font-family: $bold-font
            text-transform: uppercase
            padding-right: 36px
            a
              color: $gray-dark
              &:hover
                color: $accent
          .rating
            margin-bottom: 10px
            .fa-stack
              width: 19px
              height: 19px
              line-height: 19px
              margin-right: 5px
              .fa-stack-2x
                font-size: 19px
                color: $accent
            .rating-value
              font-size: 18px
          .product-description
            color: $gray-light
            flex-grow: 1
          .action-box
            width: 100%
            max-width: 400px
            align-self: flex-end
            display: flex
            justify-content: space-between
            align-items: center
            flex-wrap: wrap
            button
              border: none
              background: transparent
              color: $gray-dark
              padding: 0
              font-size: 20px
              text-transform: uppercase
              transition: all ease .3s
              &:hover
                background: #fdf3f4
              img
                width: 27px
                height: auto
                margin-left: 8px
                vertical-align: text-bottom
            .price
              position: relative
              margin: 0
              font-family: $bold-font
              font-size: 48px
              color: $accent
              .price-new
                position: absolute
                bottom: 75%
                right: 0
                font-family: $default-font
                font-size: 24px
                text-decoration: line-through
                color: $text


.fixed-header
  position: fixed
  width: 100vw
  top: 0
  left: 0
  z-index: 100
  background-color: #fff

.swiper-viewport
  box-shadow: none
  border: none

.white-popup
  position: relative
  background: #FFF
  padding: 20px
  width: auto
  max-width: 500px
  margin: 20px auto
  &.success-popup
    .success-popup__content
      border: 3px solid $accent
      border-radius: 8px
      padding: 15px
      h3
        margin: 15px 0 40px
        text-align: center
        font-size: 18px
        a
          text-decoration: none
      .buton-wrapper
        width: 100%
        display: flex
        justify-content: space-between
        flex-wrap: wrap
        a
          flex: 1 0 180px
          display: flex
          justify-content: center
          align-items: center
          padding: 25px 15px
          margin: 5px
          transition: all ease .3s
          &.return-link
            background-color: rgba(197,197,197,.5)
            color: #000
            &:hover
              background-color: rgba(197,197,197,.8)
          &.checkout-link
            background-color: rgba(35,241,14,.5)
            color: $text
            &:hover
              background-color: rgba(35,241,14,.8)


.btn-primary, .btn-info
  border: none
  background-color: $accent
  outline: none !important
  transition: all ease .3s
  &:hover, &:active, &:focus
    background-color: $accent

.btn-default
  color: $text
  background-color: #fff
  border-color: $accent
  outline: none !important
  transition: all ease .3s
  &:hover, &:active, &:focus
    background-color: $accent
    color: #fff
    border-color: $accent

.disabled
  background-color: $accent !important
  border-color: $accent !important

.breadcrumb
  background-color: #fff
  display: flex
  justify-content: flex-start
  align-items: center
  flex-wrap: wrap
  > li
    display: block
    position: relative
    & + li
      margin-left: 26px
      &:before
        content: ''
        display: block
        width: 12px
        height: 1px
        padding: 0
        background-color: $main-menu
        position: absolute
        right: calc(100% + 7px)
        top: 13px
    a
      font-size: 14px
      color: $main-menu
      img
        vertical-align: text-bottom
      &:hover
        color: $accent

.panel, .form-control
  box-shadow: none

.form-control:focus
  border-color: $accent
  outline: 0
  box-shadow: 0 0 8px rgba(82,168,163,.6)

textarea.form-control
  resize: none

.select2-container--bootstrap
  max-width: 100% !important


@import "header"
@import "home"
@import "menu-categories"
@import "product"
@import "category"









@import "footer"

@media only screen and (max-width: 991px)
  .product-layout .products.list .product-thumb
    .image
      flex-basis: 158px
      .price-discount
        top: auto
        bottom: 0
      button
        top: auto
        bottom: 10px
        right: auto
        left: 180px
    .caption
      padding: 15px
      h4
        font-size: 16px
        text-transform: none
        padding-right: 0
      .product-description
        display: none
      .action-box
        max-width: 130px
        justify-content: flex-end
        flex-grow: 1
        button
          order: 2
          font-size: 16px
        .price
          font-size: 24px
          margin-bottom: 20px
          .price-new
            font-size: 14px

@media only screen and (max-width: 767px)
  .product-layout
    .products
      &.grid
        .product-thumb
          flex: 0 0 160px
          margin: 10px 0
          .image
            .price-discount
              height: 19px
            .rating
              left: 3px
              top: -3px
              .fa-stack
                width: 9px
                height: 9px
                line-height: 9px
                margin-right: 2px
                .fa-stack-2x
                  font-size: 9px
            button
              right: 8px
              top: 25px
              font-size: 12px
          .caption
            h4
              font-size: 12px
            .action-box
              flex-grow: 1
              padding: 0
              flex-wrap: wrap
              justify-content: space-evenly
              button
                font-size: 16px
                img
                  margin-left: 5px
              .price
                .price-new
                  position: static
                  margin-left: 8px
      &.list .product-thumb
        width: calc(100% + 30px)
        margin-left: -15px
        margin-right: -15px

@media only screen and (max-width: 360px)
  .product-layout .products.list .product-thumb .image button
    bottom: 37px
    left: 170px

