<div id="search">
  <input type="text" name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" />
  <button type="button">
    <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.25928 7.41539C1.25928 3.85971 4.35135 0.900002 8.18892 0.900002C12.0265 0.900002 15.1186 3.85971 15.1186 7.41539C15.1186 10.9711 12.0265 13.9308 8.18892 13.9308C4.35135 13.9308 1.25928 10.9711 1.25928 7.41539ZM2.11669 7.41539C2.11669 10.612 4.87547 13.1769 8.18892 13.1769C11.5024 13.1769 14.2612 10.612 14.2612 7.41539C14.2612 4.21876 11.5024 1.65385 8.18892 1.65385C4.87547 1.65385 2.11669 4.21876 2.11669 7.41539ZM17.1492 15.5368C17.3133 15.6918 17.3133 15.9528 17.1492 16.1078C16.9979 16.2507 16.7614 16.2507 16.6101 16.1078L14.1955 13.8278C14.0314 13.6728 14.0314 13.4118 14.1955 13.2568C14.3468 13.114 14.5833 13.114 14.7346 13.2568L17.1492 15.5368Z" fill="#8D1540" stroke="#8D1540"/>
    </svg>
  </button>
</div>
